<div class='article'>
    <div>
        <div class="article-feed-title">
            <img src="{{favicon}}" width="16" height="16">
            {{feed}}
        </div>
        <a href='{{link}}'>
            {{title}}
        </a>
    </div>
    <div class="article-content">
        {{{content}}}
    </div>
</div>
